{% assign _code = _code | replace_first: "</figure>", "" %}
{% assign _code = _code | append: "</figure>" %}

{% assign _code = _code | replace_first: '<code class="', '<code class="numbered ' %}

{% assign _code = _code | replace_first: '<table class="rouge-table"><tbody><tr><td class="gutter gl"><pre', "<div" %}
{% assign _code = _code | replace_first: '</pre></td>', "</div>" %}
{% assign _code = _code | replace_first: '</pre></td>', "</div>" %}
{% assign _code = _code | replace_first: '<td class="code"><pre', '<div class="code"' %}
{% assign _code = _code | replace_first: '</tr></tbody></table>', '' %}
