:root {
  --dark-1: #111;
  --dark-2: #181818;
  --dark-3: #1B1B1B;

  --light-0: #FFF;
  --light-2: #F8F8F8;

  --base00--light: #f1efee;
  --base01--light: #e6e2e0;
  --base02--light: #a8a19f;
  --base03--light: #9c9491;
  --base04--light: #766e6b;
  --base05--light: #68615e;
  --base06--light: #2c2421;
  --base07--light: #1b1918;
  --base08--light: #f22c40;
  --base09--light: #df5320;
  --base0A--light: #c38418;
  --base0B--light: #7b9726;
  --base0C--light: #3d97b8;
  --base0D--light: #407ee7;
  --base0E--light: #6666ea;
  --base0F--light: #c33ff3;

  --base00--dark: #1b1918;
  --base01--dark: #2c2421;
  --base02--dark: #68615e;
  --base03--dark: #766e6b;
  --base04--dark: #9c9491;
  --base05--dark: #a8a19f;
  --base06--dark: #e6e2e0;
  --base07--dark: #f1efee;
  --base08--dark: #f22c40;
  --base09--dark: #df5320;
  --base0A--dark: #c38418;
  --base0B--dark: #7b9726;
  --base0C--dark: #3d97b8;
  --base0D--dark: #407ee7;
  --base0E--dark: #6666ea;
  --base0F--dark: #c33ff3;

  --base00: var(--base00--light);
  --base01: var(--base01--light);
  --base02: var(--base02--light);
  --base03: var(--base03--light);
  --base04: var(--base04--light);
  --base05: var(--base05--light);
  --base06: var(--base06--light);
  --base07: var(--base07--light);
  --base08: var(--base08--light);
  --base09: var(--base09--light);
  --base0A: var(--base0A--light);
  --base0B: var(--base0B--light);
  --base0C: var(--base0C--light);
  --base0D: var(--base0D--light);
  --base0E: var(--base0E--light);
  --base0F: var(--base0F--light);

  --header-width: 700px;
  --content-width: 700px;
  --line-height: 1.5;

  --wght: 400;
  --wdth: 105;
  --opsz: 20;
  --sans-font: 'Encode Sans', sans-serif;
  --serif-font: 'Source Serif VF', serif;

  --heading-font--content-serif: var(--sans-font);
  --content-font--content-serif: var(--serif-font);
  --content-wght--content-serif: var(--wght);
  --content-wdth--content-serif: var(--opsz);

  --heading-font--content-sans: var(--serif-font);
  --content-font--content-sans: var(--sans-font);
  --content-wght--content-sans: var(--wght);
  --content-wdth--content-sans: var(--wdth);

  --heading-font: var(--heading-font--content-serif);
  --content-font: var(--content-font--content-serif);
  --content-wght: var(--content-wght--content-serif);
  --content-wdth: var(--content-wdth--content-serif);

  --background-color--light: var(--light-0);
  --figure-background-color--light: var(--light-2);
  --terminal-background-color--light: var(--base05--light);
  --terminal-text-color--light: var(--base00--light);

  --background-color--dark: var(--dark-2);
  --figure-background-color--dark: var(--dark-3);
  --terminal-background-color--dark: var(--dark-1);
  --terminal-text-color--dark: var(--base05--dark);

  --background-color: var(--background-color--light);
  --figure-background-color: var(--figure-background-color--light);
  --terminal-background-color: var(--terminal-background-color--light);
  --terminal-text-color: var(--terminal-text-color--light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: var(--base00--dark);
    --base01: var(--base01--dark);
    --base02: var(--base02--dark);
    --base03: var(--base03--dark);
    --base04: var(--base04--dark);
    --base05: var(--base05--dark);
    --base06: var(--base06--dark);
    --base07: var(--base07--dark);
    --base08: var(--base08--dark);
    --base09: var(--base09--dark);
    --base0A: var(--base0A--dark);
    --base0B: var(--base0B--dark);
    --base0C: var(--base0C--dark);
    --base0D: var(--base0D--dark);
    --base0E: var(--base0E--dark);
    --base0F: var(--base0F--dark);

    --background-color: var(--background-color--dark);
    --figure-background-color: var(--figure-background-color--dark);
    --terminal-background-color: var(--terminal-background-color--dark);
    --terminal-text-color: var(--terminal-text-color--dark);
  }
}

.content-hidden * {
  display: none;
}

/* general typography */

@font-face {
  font-family: 'Source Serif VF';
  src: url("/assets/SourceSerif4Variable-Roman.ttf.woff2") format("woff2");
}

@font-face {
  font-family: 'Source Serif VF';
  src: url("/assets/SourceSerif4Variable-Italic.ttf.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: 'Encode Sans';
  src: url("/assets/EncodeSans.ttf") format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  src: url("/assets/FiraCode-VF.woff2") format('woff2');
}

body {
  line-height: var(--line-height);
  font-family: var(--content-font);
  font-variation-settings: 'wght' var(--content-wght), 'wdth' var(--content-wdth), 'opsz' var(--content-wdth);
  font-size: 18px;
  color: var(--base05);
  background-color: var(--background-color);
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

b, strong {
  font-variation-settings: 'wght' 600;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: var(--heading-font);
  font-weight: unset;
  margin: unset;
  font-variation-settings: 'wght' 700, 'wdth' 110;
}

a {
  color: var(--base05);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

a:visited {
  color: var(--base05);
  text-decoration-color: var(--base03);
}

/* general spacing */

html, body {
  height: 100%;
  margin: unset;
}

pre, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header, main > * {
  margin: 20px auto 0px auto;
  padding: 0px 10px;
}

header {
  max-width: var(--header-width);
}

main > * {
  max-width: var(--content-width);
}

main > h1, h2 {
  margin-top: 60px;
}

main > h3, h4 {
  margin-top: 40px;
}

main ul > li {
  margin-left: 25px;
}

/* navigation and main elements */
header {
  font-family: var(--sans-font);
  font-variation-settings: 'wght' 200, 'wdth' 100, 'opsz' 20;
}

header > * {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

header > nav > a > h1 {
  margin: 0;
  font-size: 2em;
  font-family: var(--sans-font);
  font-variation-settings: 'wght' 200, 'wdth' 115;
}

header > nav > a:not(:first-child) {
  line-height: 1.5;
  text-transform: uppercase;
}

header > nav > a:last-child {
  margin-left: auto;
}

header a:hover, header a:visited:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

header a:visited:hover {
  text-decoration-color: var(--base03);
}

header a:not(:hover), header a:visited:not(:hover),
#styling-menu-toggle:hover, #styling-menu-toggle:visited:hover {
  text-decoration: none;
}

#styling-menu {
  line-height: 1.5;
  height: 20px;
}

#styling-menu > a:first-child {
  margin-left: auto;
}

#swap-fonts {
  width: 12px;
}

#pagetitle {
  margin-bottom: 4px;
  margin-top: 20px;
}

#pagedate {
  margin-top: 4px;
  font-size: 16px;
  font-style: italic;
  font-variation-settings: normal;
}

#indexdate div {
  display: inline-block;
}

.anchor {
  text-decoration: none;
}

.anchor:hover:after {
  content: "#";
  margin-left: 4px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 24px;
  font-variation-settings: 'wght' 200, 'wdth' 100, 'opsz' 20;
}

/* quote generated with > */

blockquote > * {
  padding-left: 20px;
  border-left: 3px solid #4e2a8e55;
}

/* figure */

figure {
  max-width: 100%;
  margin: 0px auto;
  padding-top: 35px;
  padding-bottom: 15px;
  background-color: var(--figure-background-color);
}

figure > * {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
  padding-top: 15px;
}

/* code quotes and code blocks */

/* code element is used for both inline ` and code/terminal blocks */
code {
  font-size: 14px;
  font-family: 'Fira Code', monospace;
  font-variation-settings: 'wght' 400;
  font-variant-ligatures: none;
  display: inline-block;
  padding: 0px 4px;
  border-radius: 2px;
  border: 1px solid var(--base03);
}

/* highlight class gets added when ``` or highlight is used */
/* terminal is added manually */
.highlight code, code.terminal {
  line-height: 1.6;
  display: block;
  background-color: var(--base00);
  color: var(--base05);
  border-radius: unset;/*wip*/
  border: none;/*wip*/
  padding: 4px;/*wip*/
}

.highlight code, .highlight code .code {
  overflow-x: auto;
}

code.terminal  {
  overflow-x: unset;
  background-color: var(--terminal-background-color);
  color: var(--terminal-text-color);
  white-space: pre-wrap;
  word-break: break-all;
}

/* line numbers from highlight */

code .lineno {
  text-align: right;
  color: #aaa;
  padding: 0 6px;/*wip*/
}

.highlight .c { color:var(--base03) }
.highlight .err { color:var(--base08) }
.highlight .k { color:var(--base09) }
.highlight .l { color:var(--base0B) }
.highlight .o { color:var(--base0C) }
.highlight .ch { color:var(--base03) }
.highlight .cm { color:var(--base03) }
.highlight .cp { color:var(--base0F) }
.highlight .cpf { color:var(--base0B) }
.highlight .c1 { color:var(--base03) }
.highlight .cs { color:var(--base03) }
.highlight .kc { color:var(--base09) }
.highlight .kd { color:var(--base09) }
.highlight .kn { color:var(--base09) }
.highlight .kp { color:var(--base09) }
.highlight .kr { color:var(--base09) }
.highlight .kt { color:var(--base08) }
.highlight .ld { color:var(--base0B) }
.highlight .m { color:var(--base0E) }
.highlight .s { color:var(--base0B) }
.highlight .na { color:var(--base0D) }
.highlight .nb { color:var(--base0D) }
.highlight .nc { color:var(--base0A) }
.highlight .no { color:var(--base0E) }
.highlight .nd { color:var(--base0E) }
.highlight .nf { color:var(--base0D) }
.highlight .nn { color:var(--base0D) }
.highlight .nt { color:var(--base09) }
.highlight .nv { color:var(--base0D) }
.highlight .ow { color:var(--base09) }
.highlight .w { color:var(--base05) }
.highlight .mb { color:var(--base0E) }
.highlight .mf { color:var(--base0E) }
.highlight .mh { color:var(--base0E) }
.highlight .mi { color:var(--base0E) }
.highlight .mo { color:var(--base0E) }
.highlight .sa { color:var(--base0B) }
.highlight .sb { color:var(--base0B) }
.highlight .sc { color:var(--base0B) }
.highlight .dl { color:var(--base0B) }
.highlight .sd { color:var(--base0B) }
.highlight .s2 { color:var(--base0B) }
.highlight .se { color:var(--base0B) }
.highlight .sh { color:var(--base0B) }
.highlight .si { color:var(--base0F) }
.highlight .sx { color:var(--base0B) }
.highlight .sr { color:var(--base0C) }
.highlight .s1 { color:var(--base0B) }
.highlight .ss { color:var(--base0E) }
.highlight .bp { color:var(--base08) }
.highlight .fm { color:var(--base0D) }
.highlight .vc { color:var(--base0D) }
.highlight .vg { color:var(--base0D) }
.highlight .vi { color:var(--base08) }
.highlight .vm {  color:var(--base0D) }
.highlight .il {  color:var(--base0E) }
 