---
# careful with inline js comments and textarea content
# compress can break the site when they are present
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ page.author }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
    <link rel="preload" href="/assets/Lora-VF.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/Lora-Italic-VF.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/EncodeSans.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/assets/FiraCode-VF.woff2" as="font" type="font/woff2" crossorigin>
    <style>{%- capture styles -%}{%- include styles.css -%}{%- endcapture -%}{{ styles | scssify }}</style>
  </head>
  <body>{%- assign nav_pages = site.pages | where_exp:"p","p.nav_order != nil" | sort: 'nav_order' -%}
    <header>
      <a href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
      <nav>{%- for p in nav_pages -%}
        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>{%- endfor -%}
        <a href="/feed.xml">RSS</a>
        <script>
          "use strict";
          const getDocumentProperty = (property) => getComputedStyle(document.documentElement).getPropertyValue(property);
          const setDocumentProperty = (property, value) => document.documentElement.style.setProperty(property, value);
          const storageName = (property) => `michallepicki${property}`;
          const setProperty = (property, value) => {
            try {
              localStorage.setItem(storageName(property), JSON.stringify(value));
            }
            catch (_error) {}
            setDocumentProperty(property, value);
          };
          const getProperty = (property) => {
            let value;
            try {
              value = localStorage.getItem(storageName(property));
              if(!value) throw value;
              value = JSON.parse(value);
            }
            catch (_error) {
              value = getDocumentProperty(property);
            }
            return value;
          };
          const initProperty = (property) => {
            let value;
            try {
              value = JSON.parse(localStorage.getItem(storageName(property)));
            }
            catch (_error) {}
            if (value) setDocumentProperty(property, value);
          };
          const pxToInt = (px) => parseInt(px.replace(/px/,""));
          const narrow = () => setProperty("--content-width", Math.max(400, (pxToInt(getProperty("--content-width"))-50))+"px");
          const widen = () => setProperty("--content-width", (pxToInt(getProperty("--content-width"))+50)+"px");
          const swapFonts = () => {
            let tmp = getProperty("--heading-font");
            setProperty("--heading-font", getProperty("--content-font"));
            setProperty("--content-font", tmp);
          };
          const init = () => {
            initProperty("--content-width");
            initProperty("--heading-font");
            initProperty("--content-font");
          };
          init();
        </script>
        <a href="#" onClick='narrow();return false;'>&lt;</a>
        <a href="#" onClick='widen();return false;'>&gt;</a>
        <a href="#" onClick='swapFonts();return false;'>F</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
    </footer>
  </body>
</html>
